/*************************
  Main
*************************/

/** {
    border: 1px solid blue;
}
*/

body {
  font-family:  'open sans', arial, sans-serif;
}

/*********************************************/

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #ddd;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;

}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid rgba(255,255,255,0.8);
}

.sidebar-nav li a:hover {
    top: 0;
    width: 500px;
    margin: 0;
    list-style: none;
    font-weight: 900;
    color: white;
    background-color: #666;
}

.sidebar-nav li a.selected {
    font-weight: 700;
    text-decoration: none;
    color: #333;
    background: rgba(255,255,255,1);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.logo {
  padding: 15px;
}

ul li a.logo-title {
  color: darkgray;
  font-weight: 900
  font-size: 28px;
}



@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}



/* Base Styles */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


/*********************************************/

th {
  font-weight: bold;
}

/***************************************/


/**********************************/
.media {
  padding: 1.2em;
  background-image: linear-gradient(178deg, 
    rgb(255, 255, 255) 20%, rgb(240, 240, 240) 100%);
  box-shadow: rgb(221, 221, 221) 1px 1px 7px 0px;

}

.media-rating {
  width: 56px;
  height: 56px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 56px;
  color: #EEE;
  margin-bottom: 6px;
  background-color: gray;  

}

.media-rating_red {
  background-color: red;  
}

.media-rating_green {
  background-color: green;  
}

.media-rating.media-rating_gray {
  background-color: lightgray;  
}

.media-cost {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;

}

.media-body {

}

.glyphicon.glyphicon-stop {
  border: 0;
}

.media-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}

.media-title a {
  color: #999;
}

.media-author {
  font-weight: 300;
}

.media-description {
  -webkit-transition:all linear .2s;
  transition:all linear .2s;

}

.media-right p,
.media-left p {
  margin-bottom: 4px;
  vertical-align: top;

}

.green {
  color: green;
}

.gray {
  color: lightgray;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.media-right {
  width: 22%;
}

.sidebar-nav > .sidebar-brand a {
  font-weight: bolder;
  font-size: 24px;
  color: 111;
}

.topic-head {
  height: 44px;
  background-color: lightgray;
}

.topic-head-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 44px;
}

a.topic-head-text {
  text-decoration: none;
  color: #000;
}
