<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1"> 
      <p class="body-text">As someone who's been through the process of trying to learn coding on my own, I have great empathy for the noobs who are starting on this journey. I hope that this guide to the resources on the net for noob coders is the kind of guide I wish I had when I was starting out</p>
      <p class="body-text">
      Please let me know if there are any factual errors or inaccuracies that ought to be corrected.

very possible that I will have incorrect /incomplete information.
<!--       from noob perspective -->


      </p>
    </div>
  </div>
</div>


