<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1"> 
      <p class="body-text">
      Hi. I'm a photographer turned frontend engineer who has spent inordinate amount of time researching the best resources for learning to code.</p>
      <p class="body-text">Probably the single most fundamental tenet in programming is to avoid repetition. And the thought of hundreds and thousands of noobs interested in learning to code doing the same google searches troubles me. So I built this guide of resources to learning to code to reduce the aggregate time the people spend looking for this information. It is the list of resources I wish I had when I was starting out and I hope that y'all find it helpful.</p>
      <p class="body-text">
      &ndash; Matt Kim
      </p>
    </div>
  </div>
</div>


