
<div class="container-fluid" >
  <div class="row"  ng-repeat="resource in resources | orderBy:'title'">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="http://lorempixel.com/64/64/abstract/{{ $index }}" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{resource.title}}</h4>
        <p>
          {{resource.description}} 
        </p>
      </div>
    </div>
  </div>
</div>
