    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="/">
            CodingNoob
          </a>
        </li>
        <li>
          <!-- <a href="#" ng-class="selected : path == javascript">JavaScript</a> -->
        </li>
        <li>
          <a href="#">HTML</a>
        </li>
        <li>
          <a href="#" ng-class="{'green' : path === 'java'}">CSS</a>
        </li>
        <li>
          <a href="#" class="selected">Roadmaps</a>
        </li>
        <li>
          <a href="#">Job Search</a>
        </li>
        <li>
          <a href="#">User Experience</a>
        </li>
        <li>
          <a href="/admin">admin</a>
        </li>
        <li class="nav-spacer">
        </li>
        <li>
          <a href="/admin">ABOUT</a>
        </li>        
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
