    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="/">CodingNoob</a>
        </li>
        <li>
          <a href="/subject/roadmap" ng-class="{selected : path === 'roadmap'}">Learning Roadmaps</a>
        </li>
        <li>
          <a href="/subject/schools" ng-class="{selected : path === 'schools'}">Schools</a>
        </li>
        <li>
          <a href="/subject/html" ng-class="{selected : path === 'html'}">HTML</a>
        </li>
        <li>
          <a href="/subject/css" ng-class="{selected : path === 'css'}">CSS</a>
        </li>
        <li>
          <a href="/subject/javascript" ng-class="{selected : path === 'javascript'}">Javascript</a>
        </li>
        <li>
          <a href="/subject/ux" ng-class="{selected : path === 'ux'}">User Experience</a>
        </li>
        <li class="nav-spacer">
        </li>
        <li>
          <a href="/about">ABOUT</a>
        </li>        
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
