    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="/">CodingNoob</a>
        </li>
        <li>
          <a href="/subject/roadmaps" ng-class="{selected : path === 'roadmaps'}">Learning Roadmaps</a>
        </li>
        <li>
          <a href="/subject/schools" ng-class="{selected : path === 'schools'}">Schools / Curricula</a>
        </li>
        <li>
          <a href="/subject/html" ng-class="{selected : path === 'html'}">HTML</a>
        </li>
        <li>
          <a href="/subject/css" ng-class="{selected : path === 'css'}">CSS</a>
        </li>
        <li>
          <a href="/subject/javascript" ng-class="{selected : path === 'javascript'}">Javascript</a>
        </li>
        <li>
          <a href="/subject/ux" ng-class="{selected : path === 'ux'}">User Experience</a>
        </li>
        <li class="sidebar-footer">
          &nbsp;
        </li>
        <li class="sidebar-footer">
          <a href="/about">about</a>
        </li>        
        <li class="sidebar-footer">
          <a href="/faq">faq</a>
        </li>        
        <li class="sidebar-footer">
          <a href="/contact">contact</a>
        </li>        


      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
