<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1"> 
      <p class="body-text">Welcome to an opinionated guide to coding resources.

    start with roadmaps

       by a very <strong>experienced</strong> noob for noobs.
      from a noob's perspective.
      Please let me know if there are any factual errors or inaccuracies that ought to be corrected.
      from noob perspective

kind of guide i wish ihad when i was starting out

      </p>
    </div>
  </div>
</div>
