<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1"> 
      <p class="body-text ">Welcome to an opinionated guide to coding resources for people who are new to coding. I recommend beginning at <strong>roadmaps</strong> category in the left navigation to peruse the curated list of guides compiled by experienced developers.
      </p>
      <p class="body-text ">This is a early iteration of the site. Most of the content is incomplete. I hope to make steady progress on this projet and have the data filled-in by Q3 2016.
      </p>
      <p class="body-text visible-xs">Please click the &#9776; icon on the upper left  to toggle the navigation pane.
      </p>
    </div>
  </div>
</div>


